.loginPage {
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.loginForm {
  background-color: rgba(3, 3, 3, 0.6);
  color: white;
}

.table_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.report_image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.karImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.input-border {
  border: none;
  background-color: white;
}
